body {
    margin: 20; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-size: 100%; 
    vertical-align: baseline; 
    background: lavender; }
h1, h2 {
    color: darkolivegreen;
    margin-left: 5%;
    margin-right: 5%;
}